body{
	font-family: 'Roboto Mono', monospace;
	background-color: black;
	text-decoration:none;
}

.container{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	 max-width: 500px;
	 margin: auto;
	 text-align: center;
	 color:white;
}

#name {
	font-size: 50px;
	color: white;
	text-align: center;
}

#profile{
	font-size: 30px;
	color: white;
	text-align: center;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	width:50%;
}

#about{
	font-size: 20px;
	color: white;
	text-align: center;
}

#details{
	font-size: 20px;
	color: white;
	text-align: center;
}

#skills{
	text-align:left;
}

#hobbies{
	text-align: left;
}

